.sing-in-header{
    margin-right: 15px;
    color: #aaa;
    text-decoration: none;
    font-size: 15px;
    transition: color 0.4s, font-weight 0.4s;
}

.sing-in-header:hover{
    color: #555;
    font-weight: 600;
}